body{
	background-color: white;
	// font-family: 'Lemonada', cursive;
	font-family: sans-serif;

}
.container {
    width: 914px;
    height: 556px;
    margin: auto;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
    background: #e6f0fa;
}
h1{
	text-align: center;
}
img {
    width: 125px;
    height: 91px;
	border-radius: 5px 5px 0px 0px;
	margin-top: 22px;
	margin-left: 10px;
	border:lightgrey solid 1px;
	display: inline-block;
}

img:hover{
	cursor: pointer;
    margin: .2px;
}
.caption {
	width: 125px;
    font-size: 13px;
    background: white;
    border-radius: 0px 0px 5px 5px;
    margin-left: 10px;
    text-align: center;
    margin-top: -5px;
    border: lightgrey solid 1px;
    box-shadow: 3px 3px 5px #888888;
}

.column1{
	margin-top: 5px;
    margin-left: 13px;
	width: 150px;
	float: left;
	
}
.column2{
	margin-top: 5px;
	width: 150px;
	margin-left: 19px;
	float: left;
	
}
.column3 {
	margin-top: 5px;
	width: 150px;
	margin-left: 19px;
	float: left;
	
}

.sale	{
   width: 319px;
    height: 70px;
    text-align: center;
   color:white;
    float: right;
    border-radius: 10px 10px 0px 0px;
    margin-top:26px;
    margin-right:30px;
    border-bottom: 1px solid grey;
    background: #ff5959;
}
.items{
    height: 349px;
    width: 319px;
    background: white;
    margin-right: 30px;
    float: right;
}
.items p {
	margin-left: 25px;
    line-height: 25px;
}
.charge {
	height: 985x;
    width: 319px;
    background: white;
    margin-right: 30px;
    text-align: center;
    line-height: 84px;
    float: right;
    border-radius: 0px 0px 10px 10px;
    background:#2996cc;
    color: white;
    font-size: 35px;
}

#nosale{
	font-size: 21px;

}

.dropbtn {
    color: lightgrey;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    border-color: transparent;
}

.dropbtn:hover, .dropbtn:focus {
    color:black;
    cursor: pointer;
}

.dropdown {
	float: right;
    position: relative;
    display: inline-block;
    margin-top: -56px;
    margin-right: 32px;
}

.dropdown-content {
    display: none;
    margin-left: -26px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgrey}

.items{
    overflow-y: auto;
}





